body {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  font-family: Voltaire, sans-serif;
}

.container {
  width: 90%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 600px) {
  li {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  li {
    width: 50%;
  }
}

@media only screen and (min-width: 900px) {
  li {
    width: 25%;
  }
}
