.header-background {
  background-color: #6c757d;
}

.logo {
  font-family: Yellowtail, sans-serif;
  color: #dd295f;
}

.header-home {
  color: white;
  background-color: #ff2e00;
  height: 40px;
  margin: auto 3rem;
  border-style: solid;
  border-radius: 10px;
  width: 100px;
}
